<!DOCTYPE html>
<html ng-app="contractCalculator" ng-controller="contractCalculatorController">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<script>
    var app = angular.module('contractCalculator', []);

    app.controller('contractCalculatorController', function ($scope, $http) {

        initialize($scope);

        $scope.calculate = function () {
            $scope.showRequestError = false;
            $scope.showError = false;
            if (!validateInput($scope.selectedCountry, $scope.salary)) {
                $scope.showError = true;
                return;
            }

            $http.get(createURL($scope.selectedCountry, $scope.salary))
                .then(function (response) {
                    $scope.monthlyNetSalary = response.data.salary;
                    $scope.showResult = true;
                }, function onError(response) {
                    $scope.errorMessage = response.statusText;
                    console.log(response);
                    $scope.showRequestError = true;
                })
        }

    });

    function initialize($scope) {
        $scope.countries = [{currency: "PLN", country: "Poland"},
            {currency: "EUR", country: "Germany"},
            {currency: "GBP", country: "Great Britain"}];
        $scope.showError = false;
        $scope.showResult = false;
        $scope.showRequestError = false;
    }

    function createURL(selectedCountry, salary) {
        return "http://localhost:8080/CalculateContract?country=" +
            selectedCountry.country.replace(/ /g, "_") + "&salary=" + salary;
    }

    function validateInput(selectedCountry, salary) {
        if (typeof selectedCountry === "undefined" || typeof salary === "undefined" || salary === 0) {
            return false;
        }
        return true;
    }
</script>

<p>Please enter your daily gross salary: <input type="number" step="0.01" ng-model="salary">
    {{selectedCountry.currency}} </p>
<p> Please select your country: <select ng-model="selectedCountry"
                                        ng-options="value.country for value in countries"></select></p>
<p>
    <button ng-click="calculate()">Calculate</button>
</p>

<div class="result" ng-show="showResult">
    <p>Your salary is: {{monthlyNetSalary}} PLN</p>
</div>

<div class="error" ng-show="showError">
    <p>Country or salary isn't selected. Please enter these values to calculate your salary.</p>
</div>

<div class="requestError" ng-show="showRequestError">
    <p>Oooops! An error has occurred! Please try again later.</p>
</div>

</body>
</html>